:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --axis-color: #000000;
    --grid-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;
        --axis-color: #ffffff;
        --grid-color: #444444;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.oura-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 2%;
    margin-right: 5%;
    padding: 20px;
    box-sizing: border-box;
}

.info-section {
    text-align: center;
    margin-bottom: 20px;
}

.sort-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sort-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sort-buttons button i {
    margin-left: 5px;
}

.bop-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.card-header {
    margin-bottom: 10px;
}

.card-body p {
    margin: 5px 0;
}

/* Spinner styling */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height of the parent */
    width: 100%; /* Full width of the parent */
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    .oura-container {
        padding: 10px;
        
    }

    .info-section {
        margin-bottom: 10px;
    }

    .react-vis-xy-plot {
        width: 100% !important;
    }
}