html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; Prevent scrolling */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
    overflow: hidden; /* Prevent scrolling */
}

.fName {
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
}
