:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --axis-color: #000000;
    --grid-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;
        --axis-color: #ffffff;
        --grid-color: #444444;
    }
}

.console-select {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.console-select button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #dddddd65;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.console-select button i {
    margin-left: 5px;
}

.console-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}