#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.info-section {
    text-align: center;
    margin-bottom: 20px;
}

.sort-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sort-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sort-buttons button i {
    margin-left: 5px;
}

.bop-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.card-header {
    margin-bottom: 10px;
}

.card-body p {
    margin: 5px 0;
}

/* Spinner styling */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height of the parent */
    width: 100%; /* Full width of the parent */
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Full width on small screens */
    }
}